/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #eef1f6;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN WRAPPER */
.container {
  width: 900px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

/* INDIVIDUAL FORM CARDS */
.card {
  background: #ffffff;
  width: 50%;
  padding: 30px 30px;
  border-radius: 18px;
  box-shadow: 0 5px 18px rgba(0,0,0,0.08);
}

.card h2 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
  color: #222;
}

/* FORM STYLE */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  height: 46px;
  padding: 0 12px;
  border: 1.4px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: 0.2s;
}

input:focus {
  border-color: #005eff;
  box-shadow: 0 0 5px rgba(0,94,255,0.25);
  outline: none;
}

button {
  height: 48px;
  background: #005eff;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover {
  background: #0040b3;
  transform: translateY(-1.5px);
}
